<header>
  <div style="position: 'fixed'; top: '0px'; width: 1130px; height: 62px">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <div class="logo-container" (click)="home()" style="cursor: pointer">
          <span class="logo-text"> Schoolin </span>
        </div>
      </div>
      <div>
        <div style="margin-right: 10px; float: left; cursor: pointer">
          <div
            routerLink="/s/dashboard"
            class="header-menu"
            [routerLinkActive]="['active-header-menu']"
          >
            <i class="pi home-icon"></i>
            <div class="header-menu-text">Home</div>
          </div>
        </div>
        <div style="margin-right: 10px; float: left; cursor: pointer">
          <div
            routerLink="/s/notes"
            class="header-menu"
            [routerLinkActive]="['active-header-menu']"
          >
            <i class="pi notes-icon"></i>
            <div class="header-menu-text">Notes</div>
          </div>
        </div>
        <div style="margin-right: 10px; float: left; cursor: pointer">
          <div
            routerLink="/s/network"
            class="header-menu"
            [routerLinkActive]="['active-header-menu']"
          >
            <i class="pi network-icon"></i>
            <div class="header-menu-text">My Network</div>
          </div>
        </div>
        <div style="margin-right: 10px; float: left; cursor: pointer">
          <div
            routerLink="/s/message"
            class="header-menu"
            [routerLinkActive]="['active-header-menu']"
          >
            <i class="pi message-icon"></i>
            <div class="header-menu-text">Messages</div>
          </div>
        </div>
        <div style="margin-right: 10px; float: left; cursor: pointer">
          <div
            routerLink="/s/notification"
            class="header-menu"
            [routerLinkActive]="['active-header-menu']"
          >
            <i class="pi notification-icon"></i>
            <div class="header-menu-text">Notifications</div>
          </div>
        </div>
      </div>
      <div class="ui-toolbar-group-right">
        <div
          style="
            cursor: pointer;
            display: grid;
            grid-auto-flow: row;
            justify-items: start;
            align-items: start;
          "
          (click)="op.toggle($event)"
        >
          <div
            style="
              display: grid;
              grid-auto-flow: column;
              justify-items: center;
              align-items: center;
            "
          >
            <i class="pi account-icon"></i>
            <i class="pi pi-angle-down" style="cursor: pointer"></i>
          </div>
          <div class="header-menu-text">MySelf</div>
        </div>
        <p-overlayPanel
          #op
          [dismissable]="true"
          [showCloseIcon]="false"
          [appendTo]="'body'"
          styleClass="header-dropdown"
          [style]="{ 'z-index': '99999 !important' }"
        >
          <div class="header-dropdown-box">
            <div class="ui-g-4" routerLink="/s/account">Profile</div>
          </div>
          <div class="header-dropdown-box">
            <div class="ui-g-4">Settings</div>
          </div>
          <div class="header-dropdown-box" (click)="logout()">
            <div class="ui-g-4">Logout</div>
          </div>
        </p-overlayPanel>
      </div>
    </p-toolbar>
  </div>
</header>
