<div>
  <div class="sticky-content">
    <app-sidebar fxFlex="300px">
    </app-sidebar>
  </div>
</div>
<div fxFlex class="content-wrapper">
  <div class="main-body highlight">
    <div>
      <div class="p-grid p-nogutter">
        <h2>You Invitations</h2>
      </div>
      <div style="margin-top: 20px; margin-bottom: 20px; display: grid; grid-template-columns: repeat(auto-fill, 186px); grid-gap: 10px;">
        <div style="height: 300px; border: 1px solid #ccc; border-radius: 8px"></div>
        <div style="height: 300px; border: 1px solid #ccc; border-radius: 8px"></div>
        <div style="height: 300px; border: 1px solid #ccc; border-radius: 8px;"></div>
        <div style="height: 300px; border: 1px solid #ccc; border-radius: 8px;"></div>
        <div style="height: 300px; border: 1px solid #ccc; border-radius: 8px;"></div>
        <div style="height: 300px; border: 1px solid #ccc; border-radius: 8px;"></div>
        <div style="height: 300px; border: 1px solid #ccc; border-radius: 8px;"></div>
        <div style="height: 300px; border: 1px solid #ccc; border-radius: 8px;"></div>
        <div style="height: 300px; border: 1px solid #ccc; border-radius: 8px;"></div>
      </div>
    </div>
  </div>
  <div class="main-body highlight">
    <div>
      <div class="p-grid p-nogutter">
        <h2>Network you may explore</h2>
      </div>
      <div style="margin-top: 20px; margin-bottom: 20px; display: grid; grid-template-columns: repeat(auto-fill, 186px); grid-gap: 10px;">
        <div style="height: 300px; border: 1px solid #ccc; border-radius: 8px"></div>
        <div style="height: 300px; border: 1px solid #ccc; border-radius: 8px"></div>
        <div style="height: 300px; border: 1px solid #ccc; border-radius: 8px;"></div>
        <div style="height: 300px; border: 1px solid #ccc; border-radius: 8px;"></div>
        <div style="height: 300px; border: 1px solid #ccc; border-radius: 8px;"></div>
        <div style="height: 300px; border: 1px solid #ccc; border-radius: 8px;"></div>
        <div style="height: 300px; border: 1px solid #ccc; border-radius: 8px;"></div>
        <div style="height: 300px; border: 1px solid #ccc; border-radius: 8px;"></div>
        <div style="height: 300px; border: 1px solid #ccc; border-radius: 8px;"></div>
      </div>
    </div>
  </div>
</div>
